@using ScoreboardApp.Models
@model List<ScoreboardApp.Api.TeamStatus>

@{
    ViewBag.Title = "ICFPC 2013 unoficcial scoreboard";
}

<h1>ICFPC 2013 unofficial scoreboard</h1>

@Html.Partial("ContestInfo")

<h2>Scoreboard</h2>

<ul class="nav nav-tabs" id="tabs">
    <li><a href="#main" data-toggle="tab">Main division</a></li>
    <li><a href="#lightning" data-toggle="tab">Lightning division</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="main">
        @Html.Partial("Scoreboard", ScoreboardModel.ContestScore(Model))
    </div>
    <div class="tab-pane" id="lightning">
        @Html.Partial("Scoreboard", ScoreboardModel.LightningScore(Model))
    </div>
</div>


<h2>What else can you do here?</h2>
<p>
    If you are one of the participants you are awesome!<br />
    Here you can visualize and analyse list of your solved problems.
    As a side effect you will help us to make this scoreboard.
</p>

@Html.Partial("SubmitionForm", new SubmitionModel())

@section scripts{
    <script>
        $('#tabs a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        });
        var tab = "main";
        if (window.location.hash == "#lightning") tab = "lightning";
        $("#tabs a[href='#" + tab + "']").tab("show");

    </script>
}
